div#post{
    background: rgba(255, 255, 255, 0.33);
}
div#page{
    background: rgba(255, 255, 255, 0.33);
}
div#archive{
    background: rgba(255, 255, 255, 0.33);
}
div#tag{
    background: rgba(255, 255, 255, 0.33);
}
div#category{
    background: rgba(255, 255, 255, 0.33);
}

